@tailwind base;
@tailwind components;
@tailwind utilities;

.is-keyword {
    text-decoration: underline dotted;
    color: theme('colors.orange.100');
}

.is-skill {
    text-decoration: underline dotted;
    color: theme('colors.cyan.100');
}